@import url('./reset.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000;
  --regular-text-size: 18px;
  --grey: rgba(0, 0, 0, 0.5);
  --error-red: #F23434;
  --orange: #F6C61A;
  --primary: #3B44FF;;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  @apply text-base overflow-y-auto;
  color: var(--foreground);
  font-weight: 700;
  background: var(--background);
	font-family: var(--font-zen), sans-serif;
}

a {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

.h1 {
  font-size: 94px;
}

.h2 {
  font-size: 48px;
}
 
.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 20px;
}

