@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000;
    --foreground: #ededed;
    --primary-color: #3B44FF;
  }
}

body {
  @apply text-base overflow-y-auto;
  color: var(--foreground);
  font-weight: 700;
  background: var(--background);
	font-family: var(--font-zen), sans-serif;
}


